.btns {
  border-radius: 10px;

  cursor: pointer;

  border: none;
}
.primary {
  color: white;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.secondary {
  color: var(--primary-color);
  background: none;
  border: 2px solid var(--primary-color);
}
.small {
  padding: 5px 20px;
  height: fit-content;
  border-radius: 2px;
}
.primary,
.secondary {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
.medium {
  padding: 0px 30px;
  height: 50px;
}
.btn-disable {
  background-color: #7f5f19;
  cursor: not-allowed !important;
  border: 2px solid #7f5f19;
}
@media only screen and (max-width: 600px) {
  .medium {
    padding: 0px 5px;
  }
  .small {
    padding: 5px 5px;
    height: fit-content;
    border-radius: 2px;
  }
}
