.container {
  background-color: white;
  min-height: 100vh;
  min-width: 50vw;
  padding-bottom: 150px;
}
.tableContainer {
  padding-top: 10px;
  color: #535353;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: "20px";
  border-bottom: 1px solid rgba(83, 83, 83, 0.5);
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  .container {
    width: 100vw;
    padding-bottom: 150px;
    background-color: white;
  }
}
