.image {
  width: 150px;
}
.wrapper {
  width: fit-content;
  padding: 70px 20px;
  border: 1px solid #535353;
  border-radius: 50px;
}
.text {
  font-weight: 500;
  font-size: small;
  margin-top: 5px;
}
.caption {
  font-weight: 400;
  font-size: medium;
  margin-top: 5px;
}
.title {
  margin: 0;
}
.secondPage {
  text-align: center;
  width: 80%;
}
.how {
  margin-top: 70px;
  padding-top: 50px;
}
.menu {
  margin-top: 100px;
  padding-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 200px;
  background-color: #f9fbf2 !important;
}
